* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 60px;
  width: 100%;
  background-color: rgb(98, 208, 152);
}
header h2 {
  text-align: center;
  line-height: 60px;
}
body {
  background-color: rgb(227, 241, 222);
}

.wrapApi {
  height: calc(100vh - 60px);
  padding: 10px;
}
.container {
  width: 40%;
  margin: 0 auto;
  background-color: rgb(237, 231, 83);
  border-radius: 5px;
}
.wrapNuovaNota {
  text-align: center;
  height: 80px;
  background-color: #e6b559;
  line-height: 80px;
}

.wrapNuovaNota #inputNota {
  height: 40px;
  width: 80%;
}
.wrapNuovaNota #btnSalva {
  padding: 13px;
  background-color: #efefef;
  border: none;
  cursor: pointer;
}
ul {
  list-style-type: none;
  padding: 20px;
}
ul li {
  margin-bottom: 20px;
  border-bottom: 1px solid rgb(122, 122, 122);
}
ul li i {
  float: right;
  cursor: pointer;
}
